.httr-oauth
.Rproj.user
.DS_Store
.RData
.Rhistory
.Rproj.user/shared/notebooks/paths
*.history
Approval-Document.docx
publish.R
translate-files.R
responses
rsconnect/shinyapps.io/baltopi/100-day-agenda.dcf
*.dcf
*.dcf
